*{
    font-family: 'Lato', sans-serif;
}
a{
    cursor: pointer;
}
.navigation{
    height: 100vh;
    position: fixed;
}
.navigation a{
    text-align: center;
    display: block;
    font-size: 12px;
    margin: 20px auto;
    transition: all 1s;
    text-shadow: 0px 1px 2px #263238;
}
.navigation a:hover,.active{
    color: #1de9b6 !important;
}
.navigation i{
    display: block;
    font-size: 48px;
}
.profileImage{
    border: 2px solid #1de9b6;
    width: 65%;
}
table.results{
    font-size: 13px;
}
th.headerSortUp { 
    background-image: url(../images/asc.gif); 
}
th.headerSortDown { 
    background-image: url(../images/desc.gif); 
}
th.header { 
    background-image: url(../images/bg.gif); 
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center right; 
    min-width: 100px;
    margin-left: -1px; 
}
.loadMoreResults {
    margin-top: 10px;
}
.addTestCase > i,.saveTestSuite > i{
    vertical-align: bottom;
} 
.saveTestSuite{
    margin-left: 10px;
}
.tsControls{
    cursor: pointer;
    margin: 0 5px;
}
/*Styles for dragggable rows*/
body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

.sortableTable .placeholder {
  position: relative;
  /** More li styles **/
}
.sortableTable .placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}
/*Overrides*/
table.striped>tbody>tr>td{
    vertical-align: top;
}