*{
    font-family: 'Lato', sans-serif;
}
.navigation{
    height: 100vh;
    position: fixed;
}
.navigation a{
    text-align: center;
    display: block;
    font-size: 12px;
    margin: 20px auto;
    transition: all 1s;
    text-shadow: 0px 1px 2px #263238;
}
.navigation a:hover,.active{
    color: #1de9b6 !important;
}
.navigation i{
    display: block;
    font-size: 48px;
}
.profileImage{
    border: 2px solid #1de9b6;
    width: 65%;
}